@media (min-width: 900px) {
    .heading {
        font-size: xxx-large;
        line-height: 1.3;
        font-family: "Gabriela", serif;
        color: var(--green);
        padding-top: 0.65rem;
    }

    .content > h2 {
        font-size: xx-large;
        line-height: 1.3;
        font-family: "Gabriela", serif;
        color: var(--green);
        text-align: start;
        padding-top: 20px;
    }


}